<!DOCTYPE html>
<html lang="ko">
<head>
    <meta property="og:type" content="website">
    <meta property="og:title" content="질병알리미">
    <meta name="description" content="유행하고 있는 질병 및 해외에서 떠오르는 질병을 신속하게 전달합니다.">
    <meta property="og:description" content="전염병 알리미">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css//index.css">

    <script src="https://kit.fontawesome.com/29aad76e1f.js" crossorigin="anonymous"></script>

    <title>전염병알리미</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="clock.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: "http://localhost:8080/korea/data",
                type: "GET",
                success: function (data) {

                    $('#kototal').html(data[0]['koreaTotal']);
                    $('#kodead').html(data[0]['dead']);
                    $('#kototalcure').html(data[0]['totalCure']);
                }

            })
        })
    </script>
</head>
<!-- Navbar -->
<nav id="navbar">
    <h1 class="navbar-title">
        <i class="fas fa-head-side-cough"></i>
        전염병 알리미
    </h1>
    <h5>
        <div>UPDATE: 05.10.00시</div>
        <div>(출처: 질병관리본부 및 WHO)</div>
    </h5>
</nav>

<div id="sidebar">
    <div>
        <h3 class="clock"></h3>
        <script>init();</script>
        <h3 class="clock2"></h3>
        <script>init2();</script>
    </div>

    <div class="sidebar-title">
        <a href="./main.html" class="fontbold">
            <font-w>메인 홈 화면</font-w>
        </a>
    </div>
    <div class="sidebar-title2 fontbold">
        <font-w>
            국내
        </font-w>
    </div>
    <li class="sidebar-item"><a href="./kocase.html">
        <font-w>전염병확인자</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./konews.html">
        <font-w>뉴스</font-w>
    </a></li>
    <div class="sidebar-title2 fontbold">
        <font-w>
            해외
        </font-w>
    </div>
    <li><a href="./wocase.html">
        <font-w>전염병확인자</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./wonews.html">
        <font-w>뉴스</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./wosearch.html">
        <font-w>국가별 감염병 예방정보</font-w>
    </a></li>
    <div class="sidebar-title fontbold">
        <a href="./safe.html">
            <font-w>안전수칙 및 소식</font-w>
        </a>
    </div>
</div>
</div>

<div id="main">
    <div class="main-container">
        <div class="container-board">
            <!-- 국내 현황 -->
            <div class="card-box-korea">
                <div class="card-header">
                    <h5>국내현황</h5>
                </div>
                <div class="card-body">
                    <!-- Top -->


                </div>
                <div class="table-users">

                    <table>
                        <tbody>
                        <tr>
                            <th>지 역</th>
                            <th width="230">확진자</th>
                            <th width="230">사망자</th>
                        </tr>

                        <tr>
                            <td>서울</td>
                            <td>38032</td>
                            <td>450</td>
                        </tr>
                        <tr>
                            <td>부산</td>
                            <td>5078</td>
                            <td>122</td>
                        </tr>
                        <tr>
                            <td>대구</td>
                            <td>9363</td>
                            <td>221</td>
                        </tr>
                        <tr>
                            <td>인천</td>
                            <td>5678</td>
                            <td>59</td>
                        </tr>
                        <tr>
                            <td>광주</td>
                            <td>2413</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>대전</td>
                            <td>1743</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>울산</td>
                            <td>1931</td>
                            <td>38</td>
                        </tr>
                        <tr>
                            <td>세종</td>
                            <td>361</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>경기</td>
                            <td>34386</td>
                            <td>583</td>
                        </tr>
                        <tr>
                            <td>강원</td>
                            <td>2688</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>충북</td>
                            <td>2633</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <td>충남</td>
                            <td>3050</td>
                            <td>36</td>
                        </tr>
                        <tr>
                            <td>전북</td>
                            <td>1946</td>
                            <td>58</td>
                        </tr>
                        <tr>
                            <td>전남</td>
                            <td>1055</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>경북</td>
                            <td>4122</td>
                            <td>78</td>
                        </tr>
                        <tr>
                            <td>경남</td>
                            <td>3958</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>제주</td>
                            <td>714</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</body>
</html>
