<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:type" content="website">
    <meta property="og:title" content="질병알리미">
    <meta name="description" content="유행하고 있는 질병 및 해외에서 떠오르는 질병을 신속하게 전달합니다.">
    <meta property="og:description" content="전염병 알리미">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css//index.css">

    <script src="https://kit.fontawesome.com/29aad76e1f.js" crossorigin="anonymous"></script>
    <script src="clock.js"></script>

    <title>전염병알리미</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="clock.js"></script>
    <style>
        a { text-decoration: none; color: black; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:focus { text-decoration: none; }
        a:hover, a:active { text-decoration: none; }
    </style>

    <script>


        //korea_data
        $(function () {
            $.ajax({
                url: "http://localhost:8080/korea/data",
                type: "GET",
                success: function (data) {
                    //ok
                    $('#kototal').html(data[0]['koreaTotal']);
                    $('#kotodaypatient').html(data[0]['todayPatient']);
                    $('#kototalcure').html(data[0]['totalCure']);
                    $('#kotodaycure').html(data[0]['todayCure']);
                    $('#kodead').html(data[0]['dead']);
                }
            })
        })


        //korea_news
        $(function () {
            $.ajax({
                url: "http://localhost:8080/korea/news",
                type: "GET",
                success: function (data) {
                    console.log(data);
                    //ok
                    // $('#konews1').html(data[0]['title']);
                    // $('#konews2').html(data[1]['title']);
                    // $('#konews3').html(data[2]['title']);

                    for (let i = 0; i < 10; i++) {
                        makeKNews(data[i]['title'], data[i]['url']);
                    }
                }
            })
        })

        function makeKNews(title, url) {

            let a = `<h3><a href="${url}">${title}</a></h3>`;

            $(".kcard-new-header").append(a);
        }


        //world_data
        $(function () {
            $.ajax({
                url: "http://localhost:8080/world/data",
                type: "GET",
                success: function (data) {

                    $('#wototal').html(data[0]['worldTotal']);
                    $('#wodead').html(data[0]['totalDead']);


                }
            })
        })


        //world_news
        $(function () {
            $.ajax({
                url: "http://localhost:8080/world/news",
                type: "GET",
                success: function (data) {
                    // $('#wonews1').html(data[0]['title']);
                    // $('#wonews2').html(data[1]['title']);
                    // $('#wonews3').html(data[2]['title']);

                    for (let i = 0; i < 6; i++) {
                        makeWNews(data[i]['title'], data[i]['url']);
                    }
                }
            })
        })


        function makeWNews(title, url) {

            let a = `<h3><a href="${url}">${title}</a></h3>`;

            $(".card-new-header").append(a);
        }

    </script>
</head>
<body>
<!-- Navbar -->
<nav id="navbar">
    <h1 class="navbar-title">
        <i class="fas fa-head-side-cough"></i>
        전염병 알리미
    </h1>
    <h5>
        <div>UPDATE: 05.10.00시</div>
        <div>(출처: 질병관리본부 및 WHO)</div>
    </h5>
</nav>

<div id="sidebar">
    <div>
        <h3 class="clock"></h3>
        <script>init();</script>
        <h3 class="clock2"></h3>
        <script>init2();</script>
    </div>

    <div class="sidebar-title">
        <a href="./main.html" class="fontbold">
            <font-w>메인 홈 화면</font-w>
        </a>
    </div>
    <div class="sidebar-title2 fontbold">
        <font-w>
            국내
        </font-w>
    </div>
    <li class="sidebar-item"><a href="./kocase.html">
        <font-w>전염병확인자</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./konews.html">
        <font-w>뉴스</font-w>
    </a></li>
    <div class="sidebar-title2 fontbold">
        <font-w>
            해외
        </font-w>
    </div>
    <li><a href="./wocase.html">
        <font-w>전염병확인자</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./wonews.html">
        <font-w>뉴스</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./wosearch.html">
        <font-w>국가별 감염병 예방정보</font-w>
    </a></li>
    <div class="sidebar-title fontbold">
        <a href="./safe.html">
            <font-w>안전수칙 및 소식</font-w>
        </a>
    </div>
</div>
</div>

<!-- Main -->
<div id="main">
    <div class="main-container">
        <div class="container-board">
            <!-- 국내 현황 -->
            <div class="card-box-korea">
                <div class="card-header">
                    <h2>
                        <font-r>국내현황</font-r>
                    </h2>
                </div>
                <div class="card-body">
                    <!-- Top -->
                    <div class="body-top">
                        <h3>총 확진자</h3>
                        <div class="top-count">
                            <span><font-b id="kototal"></font-b><font-b>명</font-b><font-b-s> (전일대비)+<font-b-s
                                    id="kotodaypatient"></font-b-s></span>
                        </div>
                    </div>
                    <!-- Bottom -->
                    <div class="body-bottom">
                        <div class="bottom">
                            <h3>완치자</h3>
                            <div class="second-count">
                                <span><font-b id="kototalcure"></font-b><font-b>명</font-b><font-b-s> (전일대비)+<font-b-s
                                        id="kotodaycure"></font-b-s></span>
                            </div>
                        </div>

                    </div>
                    <div class="body-bottom">
                        <div class="bottom">
                        </div>
                        <div class="bottom">

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box-korea">
                <div class="card-header">
                    <h2>
                        <font-r>세계현황</font-r>
                    </h2>
                </div>
                <div class="card-body">
                    <!-- Top -->
                    <div class="body-top">
                        <h3>총 확진자</h3>
                        <div class="top-count">
                            <span><font-b id="wototal"></font-b><font-b>명</font-b></span>
                            <!--id="WorldTotal"-->

                        </div>
                    </div>
                    <!-- Bottom -->
                    <div class="body-bottom">
                        <div class="bottom">
                            <div class="first-count">
                                <h3>사망자</h3></div>
                            <div class="first-count">
                                <span><font-b id="wodead"></font-b><font-b>명</font-b></span>
                                <!--id="totalDead"-->

                            </div>
                        </div>
                    </div>
                    <div class="body-top"><br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="news-box">
        <div class="news-body">
            <!-- 국내 뉴스 -->
            <div class="news-card">
                <div class="card-header">
                    <h2>
                        <font-r>국내 주요 뉴스</font-r>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="kcard-new-header">

                        </div>
                    </div>
                    <div class="news-source">
                        <span class="card-s">출처</span>
                        <a href="https://search.naver.com/search.naver?where=news&sm=tab_jum&query=%EC%BD%94%EB%A1%9C%EB%82%98">네이버 뉴스 "코로나"검색(실시간)</a>
                    </div>
                </div>
            </div>

            <!-- 해외 떠오르는 질병 -->
            <div class="news-card">
                <div class="card-header">
                    <h2>
                        <font-r>해외 주요 뉴스</font-r>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-new-header">

                        </div>
                    </div>
                    <div class="news-source">
                        <span class="card-s">출처</span>
                        <a href="https://www.who.int/emergencies/disease-outbreak-news">WHO(실시간)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>


