<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:type" content="website">
    <meta property="og:title" content="질병알리미">
    <meta name="description" content="유행하고 있는 질병 및 해외에서 떠오르는 질병을 신속하게 전달합니다.">
    <meta property="og:description" content="전염병 알리미">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/29aad76e1f.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="clock.js"></script>

    <link rel="stylesheet" href="./css//index.css">
    <script>
        //world_data
        $(function () {
            $.ajax({
                url: "http://localhost:8080/world/data",
                type: "GET",
                success: function (data) {

                    $('#wototal').html(data[0]['worldTotal']);
                    $('#wodead').html(data[0]['totalDead']);
                }
            })
        })
    </script>
    <title>전염병알리미</title>
</head>
<body>
<!-- Navbar -->
<nav id="navbar">
    <h1 class="navbar-title">
        <i class="fas fa-head-side-cough"></i>
        전염병 알리미
    </h1>
    <h5>
        <div>UPDATE: 05.10.00시</div>
        <div>(출처: 질병관리본부 및 WHO)</div>
    </h5>
</nav>

<!-- Wrapper -->
<div id="sidebar">
    <div>
        <h3 class="clock"></h3>
        <script>init();</script>
        <h3 class="clock2"></h3>
        <script>init2();</script>
    </div>

    <div class="sidebar-title">
        <a href="./main.html" class="fontbold">
            <font-w>메인 홈 화면</font-w>
        </a>
    </div>
    <div class="sidebar-title2 fontbold">
        <font-w>
            국내
        </font-w>
    </div>
    <li class="sidebar-item"><a href="./kocase.html">
        <font-w>전염병확인자</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./konews.html">
        <font-w>뉴스</font-w>
    </a></li>
    <div class="sidebar-title2 fontbold">
        <font-w>
            해외
        </font-w>
    </div>
    <li><a href="./wocase.html">
        <font-w>전염병확인자</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./wonews.html">
        <font-w>뉴스</font-w>
    </a></li>
    <li class="sidebar-item"><a href="./wosearch.html">
        <font-w>국가별 감염병 예방정보</font-w>
    </a></li>
    <div class="sidebar-title fontbold">
        <a href="./safe.html">
            <font-w>안전수칙 및 소식</font-w>
        </a>
    </div>
</div>
</div>

<div class="main-container">
    <div class="container-board">
        <div class="card-box-korea">
            <div class="card-header">
                <h4>해외 현황</h4>
                <div class="body-top">
                    <span>확진자 : <span id="wototal">확진자 :</span>명</span>
                    <span>사망자 : <span id="wodead"></span>명</span>
                </div>
                <div class="table-users">
                    <canvas id="myChart" width="600" height="400"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ['미국', '인도', '브라질', '프랑스', '터키', '러시아', '영국', '이탈리아', '스페인', '독일', '아르헨티나', '콜롬비아', '세계'],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [33778239, 25769174, 15735485, 5917397, 5151038, 4965676, 4452527, 4172525, 3625928, 3618314, 3371508, 3144547, 165340583],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.3)',
                                        'rgba(54, 162, 235, 0.3)',
                                        'rgba(255, 206, 86, 0.3)',
                                        'rgba(75, 192, 192, 0.3)',
                                        'rgba(153, 102, 255, 0.3)',
                                        'rgba(161, 156, 255, 0.3)',
                                        'rgba(162, 255, 255, 0.3)',
                                        'rgba(255, 187, 187, 0.3)',
                                        'rgba(111, 34, 73, 0.3)',
                                        'rgba(201, 255, 195, 0.3)',
                                        'rgba(255, 220, 108, 0.3)',
                                        'rgba(95, 255, 0, 0.3)',
                                        'rgba(25, 25, 25, 0.4)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive:false,
                                scale: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                    <h3>주요 발생 국가 주간 동향 (누적 사망자 10만 이상 국가)</h3>
                    <canvas id="myChart2" width="600" height="400"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart2').getContext('2d');
                        var myChart2 = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ['미국', '인도', '브라질', '프랑스', '러시아', '영국', '이탈리아', '멕시코', '세계'],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [601422, 287101, 439379, 108181, 116965, 127694, 124646, 220746, 3426186],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.3)',
                                        'rgba(54, 162, 235, 0.3)',
                                        'rgba(255, 206, 86, 0.3)',
                                        'rgba(75, 192, 192, 0.3)',
                                        'rgba(153, 102, 255, 0.3)',
                                        'rgba(161, 156, 255, 0.3)',
                                        'rgba(162, 255, 255, 0.3)',
                                        'rgba(201, 255, 195, 0.3)',
                                        'rgba(25, 25, 25, 0.4)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)',
                                        'rgba(255, 255, 255, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive:false,
                                scale: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                    <table>
                        <tbody>
                        <tr>
                            <th>지 역</th>
                            <th width="230">확진자</th>
                            <th width="230">사망자</th>
                        </tr>

                        <tr>
                            <td>미국</td>
                            <td>33,778,239</td>
                            <td>601,422</td>
                        </tr>
                        <tr>
                            <td>인도</td>
                            <td>25,769,174</td>
                            <td>287,101</td>
                        </tr>
                        <tr>
                            <td>브라질</td>
                            <td>15,735,485</td>
                            <td>439,379</td>
                        </tr>
                        <tr>
                            <td>프랑스</td>
                            <td>5,917,397</td>
                            <td>108,181</td>
                        </tr>
                        <tr>
                            <td>터키</td>
                            <td>5,151,038</td>
                            <td>45,419</td>
                        </tr>
                        <tr>
                            <td>러시아</td>
                            <td>4,965,676</td>
                            <td>116,965</td>
                        </tr>
                        <tr>
                            <td>영국</td>
                            <td>4,452,527</td>
                            <td>127,694</td>
                        </tr>
                        <tr>
                            <td>이탈리아</td>
                            <td>4,172,525</td>
                            <td>124,646</td>
                        </tr>
                        <tr>
                            <td>스페인</td>
                            <td>3,625,928</td>
                            <td>79,568</td>
                        </tr>
                        <tr>
                            <td>독일</td>
                            <td>3,618,314</td>
                            <td>87,204</td>
                        </tr>
                        <tr>
                            <td>아르헨티나</td>
                            <td>3,371,508</td>
                            <td>71,771</td>
                        </tr>
                        <tr>
                            <td>콜롬비아</td>
                            <td>3,144,547</td>
                            <td>82,291</td>
                        </tr>
                        <tr>
                            <td>폴란드</td>
                            <td>2,859,261</td>
                            <td>72,250</td>
                        </tr>
                        <tr>
                            <td>이란</td>
                            <td>2,792,204</td>
                            <td>77,765</td>
                        </tr>
                        <tr>
                            <td>멕시코</td>
                            <td>2,385,512</td>
                            <td>220,746</td>
                        </tr>
                        <tr>
                            <td>우크라이나</td>
                            <td>2,165,233</td>
                            <td>48,696</td>
                        </tr>
                        <tr>
                            <td>페루</td>
                            <td>1,897,900</td>
                            <td>66,770</td>
                        </tr>
                        <tr>
                            <td>인도네시아</td>
                            <td>1,753,101</td>
                            <td>48,669</td>
                        </tr>
                        <tr>
                            <td>체코</td>
                            <td>1,655,414</td>
                            <td>29,948</td>
                        </tr>
                        <tr>
                            <td>남아프리카 공화국</td>
                            <td>1,617,840</td>
                            <td>55,340</td>
                        </tr>
                        <tr>
                            <td>네덜란드</td>
                            <td>1,610,868</td>
                            <td>17,488</td>
                        </tr>
                        <tr>
                            <td>캐나다</td>
                            <td>1,340,325</td>
                            <td>25,045</td>
                        </tr>
                        <tr>
                            <td>칠레</td>
                            <td>1,300,629</td>
                            <td>27,997</td>
                        </tr>
                        <tr>
                            <td>필리핀</td>
                            <td>1,159,071</td>
                            <td>19,507</td>
                        </tr>
                        <tr>
                            <td>이라크</td>
                            <td>1,151,557</td>
                            <td>16,069</td>
                        </tr>
                        <tr>
                            <td>루마니아</td>
                            <td>1,073,679</td>
                            <td>29,716</td>
                        </tr>
                        <tr>
                            <td>스웨덴</td>
                            <td>1,051,762</td>
                            <td>14,349</td>
                        </tr>
                        <tr>
                            <td>벨기에</td>
                            <td>1,034,714</td>
                            <td>24,749</td>
                        </tr>
                        <tr>
                            <td>파키스탄</td>
                            <td>886,184</td>
                            <td>19,856</td>
                        </tr>
                        <tr>
                            <td>포르투갈</td>
                            <td>843,278</td>
                            <td>17,013</td>
                        </tr>
                        <tr>
                            <td>이스라엘</td>
                            <td>839,221</td>
                            <td>6,395</td>
                        </tr>
                        <tr>
                            <td>헝가리</td>
                            <td>799,588</td>
                            <td>29,329</td>
                        </tr>
                        <tr>
                            <td>방글라데시</td>
                            <td>783,737</td>
                            <td>12,248</td>
                        </tr>
                        <tr>
                            <td>요르단</td>
                            <td>727,612</td>
                            <td>9,314</td>
                        </tr>
                        <tr>
                            <td>세르비아</td>
                            <td>708,328</td>
                            <td>6,725</td>
                        </tr>
                        <tr>
                            <td>일본</td>
                            <td>692,702</td>
                            <td>11,851</td>
                        </tr>
                        <tr>
                            <td>스위스</td>
                            <td>684,954</td>
                            <td>10,755</td>
                        </tr>
                        <tr>
                            <td>오스트리아</td>
                            <td>639,054</td>
                            <td>10,508</td>
                        </tr>
                        <tr>
                            <td>아랍 에미레이트</td>
                            <td>550,029</td>
                            <td>1,639</td>
                        </tr>
                        <tr>
                            <td>레바논</td>
                            <td>537,043</td>
                            <td>7,651</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
    