<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:type" content="website">
  <meta property="og:title" content="질병알리미">
  <meta name="description" content="유행하고 있는 질병 및 해외에서 떠오르는 질병을 신속하게 전달합니다.">
  <meta property="og:description" content="전염병 알리미">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://kit.fontawesome.com/29aad76e1f.js" crossorigin="anonymous"></script>
  <script src="ajax.js"></script>
  <link rel="stylesheet" href="./css//index.css">
  <style>
    a:visited {color: #224ABE; text-decoration: none;}
  </style>
  <title>전염병알리미</title>
</head>
<body>
  <!-- Navbar -->
  <nav id="navbar">
    <h1 class="navbar-title">
        <i class="fas fa-head-side-cough"></i>
        전염병 알리미
    </h1>
  </nav>

  <!-- Wrapper -->
  <div id="sidebar">
    <ul class="sidebar-ul">
      <div>
        <h4 id="clock" style="color:black;">00:00</h4>
        <script src="day.js"></script>
    </div>
      <div class="sidebar-title">
        <i class="fas fa-chart-area"></i>
        <a href="main.html" class="fontbold">메인 홈 화면</a>
      </div>
      <div class="sidebar-title fontbold">
        국내
      </div>
      <li class="sidebar-item"><a href="kocase.html">전염병확인자</a></li>
      <li class="sidebar-item"><a href="./kovac.html">백신</a></li>
      <li class="sidebar-item"><a href="./konews.html">뉴스</a></li>
      <div class="sidebar-title fontbold">
        해외
      </div>
      <li class="sidebar-item"><a href="./wocase.html">전염병확인자</a></li>
      <li class="sidebar-item"><a href="wonews.html">뉴스</a></li>
      <li class="sidebar-item"><a href="./wosearch.html">국가별 감염병 예방정보</a></li>
      <div class="sidebar-title fontbold">
        <a href="./safe.html">안전수칙 및 소식</a>
      </div>
      </div>
      </ul>
  </div>
  <div class="main-container">
    <div class="container-board">
        <div class="card-box-korea">
          <div class="card-header">
<p><a href id="title0"><span id="url0"></span></a><p>
<p><a href id="title1"><span id="url1"></span></a><p>
<p><a href id="title2"><span id="url2"></span></a><p>
<p><a href id="title3"><span id="url3"></span></a><p>
<p><a href id="title4"><span id="url4"></span></a><p>
<p><a href id="title5"><span id="url5"></span></a><p>
<p><a href id="title6"><span id="url6"></span></a><p>
<p><a href id="title7"><span id="url7"></span></a><p>
<p><a href id="title9"><span id="url8"></span></a><p>
<p><a href id="title0"><span id="url9"></span></a><p>
          </div>
        </div>
    </div>
  </div>
    </body>
    </html>
    