.nation_list dl{font-size: 0}
.nation_list dl dt{display: inline-block;width: 3.86%;margin-top: 20px;font-size: 24px;line-height: 30px;color: black;text-align: center;vertical-align: top}
.nation_list dl dd{display: inline-block;width: 96.14%;padding-left: 30px;box-sizing: border-box}
.nation_list dl dd ul li{display: inline-block;margin:5px 5px 0 0;vertical-align: top}
.nation_list dl dd ul li:last-of-type{margin-left: 0}
.nation_list dl dd ul li a{display:table-cell;width:61px;height:30px;padding:0 1px;border: 0.5px solid #e1e1e1;background: black;font-size: 15px;color: white;text-align: center;letter-spacing: -1.75px;box-sizing: border-box;vertical-align: middle;word-break: keep-all}
